.block{
    height: 100vh;
    width: 100%;
    background-color: red;
}
.container_block{
    display: grid;
    gap: 5px;
    height: 100%;
    width: 1280px;
    margin: 0 auto;
    background-color: green;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "one one two three"
        "one one four five"
    ;
}



.one{
    background-color: #1300a3;
    /* background-image: url("../img/23.jpg");
    background-position-x: center;
    background-position-y: center; */
    overflow: hidden;
    grid-area: one;
}
.two{
    background-color: #00ffb7;
    grid-area: two;

}
.three{
    background-color: #00ff37;
    grid-area: three;
}
.four{
    background-color: #5d00ff;
    grid-area: four;
}
.five{
    background-color: #d9ff00;
    grid-area: five;
}