.description{
    /* height: 620px; */
    width: 100%;
    /* background-color: red; */
}
.description_item_text{
    height: 50px;
    font-size: 35px;
    margin-bottom: 55px;
    text-align: center;
}
.description_text p{
    font-size: 22px;
}
.description_items{
    display: grid;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.description_img img{
    float: right;
    height: 390px;
}