.event{
    /* height: 600px; */
    width: 100%;
    /* background-color: red; */
}
.container_event{
    height: 100%;
    width: 1280px;
    margin: 0 auto;
    /* background-color: green; */
}
.event_text{
    height: 50px;
    font-size: 35px;
    text-align: center;
}
.event_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 20px;
}
.event_item_one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}
.event_item_1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    /* background-color: red; */
}
.event_item_1 img{
    height: 257px;
    width: 100%;
}