.event{
    /* height: 600px; */
    width: 100%;
    /* background-color: red; */
}
.container_event{
    height: 100%;
    width: 1280px;
    margin: 0 auto;
    /* background-color: green; */
}
.text{
    text-transform: uppercase;
    font-size: 13px;
}
.event_text{
    height: 50px;
    font-size: 35px;
    text-align: center;
}
.img{
    padding-bottom: 20px;
}
.event_item_img img{
    height: 870px;
}
.event_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 20px;
}
.event_item_one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.event_item_1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    /* background-color: red; */
    padding: 15px;
}
.event_item_1 img{
    height: 250px;
    width: 100%;
}