.info{
    padding: 100px;
}
.info_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.info_item_1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    transition: all 0.5s ease-in-out;
}
.info_item_1:hover{
    cursor: pointer;
}
.info_item_1 a{
    color: black;
    text-decoration: none;
}
.img img{
    height: 100px;
}
.text p{
    font-size: 20px;
}