.start_kontakt{
    height: 100vh;
    /* background-color: red; */
    background: linear-gradient(90deg, #C5DB9D 0%, #93C5DD 42.19%, #93C5DD 49.88%, #B9BBED 100%);

}
.start_kontakt_text{
    display: grid;
    place-items: center;
    height: 250px;
    text-transform: uppercase;
    padding: 60px;
}
.start_kontakt_text h2{
    font-size: 35px;
}
.start_kontakt_items{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    height: 450px;
    /* background-color: darkblue; */
}
.start_kontakt_item_one{
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    padding-left: 20px;
}
.kontakt_item_text{
    display: grid;
    text-align: center;
}
.start_kontakt_item_two{
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    overflow: hidden;
    padding-left: 20px;

}
.start_kontakt_items p{
    font-size: 25px;
}
.kontakt_item_1{
    font-size: 14px;
    /* background-color: darkcyan; */
}
.kontakt_item_2{
    font-size: 14px;
    /* background-color: darkcyan; */
}
.kontakt_item_two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: darkcyan; */
    color: rgb(60, 60, 60);
}
.kontakt_item_1 p{
    color: rgb(0, 204, 255);
}
.kontakt_item_2 p{
    color: rgb(0, 204, 255);
}