.start_menu{
    height: 1500px;
    /* background-color: red; */
    background: linear-gradient(90deg, #C5DB9D 0%, #93C5DD 42.19%, #93C5DD 49.88%, #B9BBED 100%);

}
.start_menu_text{
    height: 450px;
    text-transform: uppercase;
    padding: 60px;
}
.start_menu_text h2{
    font-size: 35px;
}
.start_menu_text p{
    font-size: 20px;
}
.start_menu_foto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: blue; */
    gap: 25px;
    place-items: center;
}
.start_menu_foto-1{
    /* background-color: darkblue; */
    background-repeat: no-repeat;
}
.start_menu_foto-1 img{
    height: 300px;
}