.start_admission{
    /* height: 100vh; */
    /* background-color: red; */
    margin-bottom: 50px;
}
.start_admission_text{
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
}
.admission_items{
    display: grid;
    height: 350px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.admission_items p{
    font-size: 18px;
}
.admission_items{
    display: grid;
    height: 260px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.admission_item_1{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    border-radius: 20px;
    gap: 20px;
    background-color: rgb(151, 151, 151);
    text-align: center;
    padding: 10px;
}
.admission_item_2{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    border-radius: 20px;
    background-color: rgb(151, 151, 151);
}
.admission_item_2 h2{
    padding: 10px;
    text-align: center;
}
.admission_document{
    height: 800px;
    background-color: red;
}
.admission_text_document{
    text-align: center;
    text-transform: uppercase;
    /* padding-top: 60px; */
}
.admission_document_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.document_item{
    display: grid;
    background-color: darkblue;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.document_item_text h2{
    text-align: center;
    background-color: darkcyan;
    font-size: 25px;
}
.document_item1{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: darkcyan;
}
.document_item_img{
    display: grid;
    place-items: center;
    background-position: center;
}
.document_item_img img{
    height: 120px;
}
.document_item_text2{
    /* margin: 15px; */
    place-content: center;
}
.document_item_text2 p{
    font-size: 25px;
}